

    <div class="card" >
        <div class="card-body" >
            <i class="fa fa-pen fa-xs edit"></i>
            <table >
                <tbody >
                    
                    <tr>
                        <td>About Company</td>
                        <td>:</td>
                        <td [routerLink]="['/employees', employees.id,'activity' ]">HSBC</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>:</td>
                        <td>{{employees.address}}</td>
                    </tr>
                    <tr>
                        <td>Domain</td>
                        <td>:</td>
                        <td>Financial Domain</td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td>:</td>
                        <td>{{employees.departmentName}}</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>

  