

    <div class="card" >
        <div class="card-body" >
            <i class="fa fa-pen fa-xs edit"></i>
            <table >
                <tbody >
                    <tr>
                       
                        <td >Charity</td>
                    </tr >
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td>{{employeename}}</td>
                    </tr>
                   
                    <tr *ngFor="let empact of employeesactivity">
                        <td>Employee Activity</td>
                        <td>:</td>
                        <td>{{empact.activityId}}</td>
                    
                   
                        <td>Activity Name</td>
                        <td>:</td>
                        <td>{{empact.activityName}}</td>
                    </tr>
               
                   
                   
                </tbody>
            </table>
        </div>
    </div>
    <router-outlet></router-outlet>

  