

    <div class="card" >
        <div class="card-body" >
            <i class="fa fa-pen fa-xs edit"></i>
            <table >
                <tbody >
                    <tr>
                       
                        <td >Charity</td>
                    </tr>
                    <tr>
                        <td>Employee Activity</td>
                        <td>:</td>
                        <td>Charity</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td>Goshala Childrens</td>
                    </tr>
                    <tr>
                        <td>Domain</td>
                        <td>:</td>
                        <td>Charity Domain</td>
                    </tr>
                   
                   
                </tbody>
            </table>
        </div>
    </div>
    <router-outlet></router-outlet>

  