

<div class="card" >
    <div class="card-body" >
        <i class="fa fa-pen fa-xs edit"></i>
        <table >
            <tbody >
                
                <tr>
                    <td>Product Name</td>
                    <td>:</td>
                    <td>Thread mill</td>
                </tr>
                <tr>
                    <td>Address of warehouse</td>
                    <td>:</td>
                    <td>Hyderabad</td>
                </tr>
                <tr>
                    <td>Cost</td>
                    <td>:</td>
                    <td>Rs 12000</td>
                </tr>
                <tr>
                    <td>Manufacturer</td>
                    <td>:</td>
                    <td>Saiteja Sports</td>
                </tr>
                <tr>
                    <td>Date Created</td>
                    <td>:</td>
                    <td>May 1 2022</td>
                </tr>
                
            
            </tbody>
        </table>
    </div>
   
</div>


