<form>
  <div class="container" style="
/* margin-top: 10%; */
margin-top: 150px;
">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-9 " style="
        border: groove;">
        <form [formGroup]="loginForm">
          <div class="mb-3" style="
            padding-left: 20%;
            padding-right: 40%;
            padding-top: 5%;
        ">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" formControlName="username" name="username" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3" style="
              padding-left: 20%;
              padding-right: 40%;
              
          ">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" formControlName="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check" style="
              padding-left: 20%;
              padding-right: 40%;
              
          ">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label><br>
            <button type="submit" (click)="login()" class="btn btn-primary">Submit</button>
          </div>

        </form>
      </div>
      <div class="col-md-3">

      </div>


    </div>

  </div>
</form>